*{margin:0;padding:0;list-style-type: none;text-decoration: none;}
#wrap{
	width:48rem;
	height:28rem;
	position: relative;
	margin:0 auto;
}
.w_img li{
	position: absolute;
	top:0;
	left:0;
}
.w_img img{
	width:48rem;
	height:28rem;
} 
.btn{
	position: absolute;
	top: 50%;
	transform: translate(0,-50%);
	opacity: 0.2;
	cursor: pointer;
	z-index: 9999;
}
.left_btn{
	left:1rem;
}
.right_btn{
	right:1rem;
}
.w_circle{
	z-index: 9999;
	position: absolute;
	bottom: 0.5rem;
	left:0;
	width: 100%;
	display: flex;
	justify-content: center;
}
.w_circle li{
	float: left;
	margin:0 0.5rem;
}
.w_circle a{
	display: block;
	width:6px;
	height:6px;
	border: 2px #ffffff solid;
	border-radius: 6px;
	opacity: 0.5;
}
.c_current {
	background-color: #ffffff;
}
#nav{
	width:45rem;
	height: 2rem;
	margin: 0 auto;
	
}
#header{
	background-color: #F0F0F0;
	text-align: center;
}
#footer{
	background-color: #EEEE55;
	text-align: center;
	clear: both;
}
#banner{
	margin: auto;
}
#link{
	position: absolute;
	right: 0;
	top: 0;
	padding: 0.5rem 1rem 0rem 0rem;
}

#left a:hover{
	background-color: #000000;
	color: #F0F0F0;
}
#friend a:hover{
	background-color: #000000;
	color: #F0F0F0;
}

#main{

	height: 50rem;
	width: 45rem;
	margin: 0 auto;
}
#left{
	height: inherit;
	width: 5.5rem;
	background-color: #FFFFF0;
	float: left;
}
#content{
	height: inherit;
	width: 28rem;			
	float: left;
	padding-left: 0.75rem;
	padding-right: 0.75rem;
}
#right{
	height:inherit;			
	width: 10rem;
	float: right;
}
#left li{
	width: 5.5rem;
	font-size: 1.2rem;
	text-align: center;
	margin-top: 2.8rem;
	list-style-type: none;
}
#left a{
	border: #DEB887 double 0.2rem;
	text-decoration: none;
	border-radius: 10%;
	font-family: "楷体";
}
.article{
	clear: both;
	margin: 0.1rem;
	height: 12rem;
}
.article img{
	height: 9rem;
	padding-top: 0rem;
	
}
.article p{
	text-indent: 2rem;
	line-height: 1.8rem;
}
#img1{
	float: left;
}
#img2{
	float: right;
}
.photo{
	clear: both;
}
.photo img{
	height: 5.9rem;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
}
#right img{
	width: 9.5rem;
	padding: 0.1rem;
}
#right li{
	list-style-type: none;
	text-align: center;
}
#right a{
	text-decoration: none;
	line-height: 2rem;
}
